<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>277578260309-fhu29s7f0t06u9rdkp35jdqlap8u9jqp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.277578260309-fhu29s7f0t06u9rdkp35jdqlap8u9jqp</string>
	<key>API_KEY</key>
	<string>AIzaSyB_R2qp4U3LtEcrkSJM9W_h_MsUhZmZP5U</string>
	<key>GCM_SENDER_ID</key>
	<string>277578260309</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dianaszekely.CitadelaFestival</string>
	<key>PROJECT_ID</key>
	<string>citadelafestival</string>
	<key>STORAGE_BUCKET</key>
	<string>citadelafestival.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:277578260309:ios:cc3f2e2f3c6bbbf4df19dc</string>
	<key>DATABASE_URL</key>
	<string>https://citadelafestival.firebaseio.com</string>
</dict>
</plist>